<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.andidz.authorithy.mapper.RightResourceMapper" >
  <resultMap id="BaseResultMap" type="com.andidz.authorithy.domain.RightResource" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="resourcePath" property="resourcepath" jdbcType="VARCHAR" />
    <result column="resourceName" property="resourcename" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, resourcePath, resourceName, description, feature
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from right_resource
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from right_resource
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.andidz.authorithy.domain.RightResource" >
    insert into right_resource (Id, resourcePath, resourceName, 
      description, feature)
    values (#{id,jdbcType=INTEGER}, #{resourcepath,jdbcType=VARCHAR}, #{resourcename,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.andidz.authorithy.domain.RightResource" >
    insert into right_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="resourcepath != null" >
        resourcePath,
      </if>
      <if test="resourcename != null" >
        resourceName,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="feature != null" >
        feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resourcepath != null" >
        #{resourcepath,jdbcType=VARCHAR},
      </if>
      <if test="resourcename != null" >
        #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.andidz.authorithy.domain.RightResource" >
    update right_resource
    <set >
      <if test="resourcepath != null" >
        resourcePath = #{resourcepath,jdbcType=VARCHAR},
      </if>
      <if test="resourcename != null" >
        resourceName = #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andidz.authorithy.domain.RightResource" >
    update right_resource
    set resourcePath = #{resourcepath,jdbcType=VARCHAR},
      resourceName = #{resourcename,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>