<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andidz.bizcore.mapper.ProductionOrderMapper">
  <resultMap id="BaseResultMap" type="com.andidz.bizcore.domain.ProductionOrder">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="orderNumb" jdbcType="VARCHAR" property="ordernumb" />
    <result column="productionType" jdbcType="INTEGER" property="productiontype" />
    <result column="productNumb" jdbcType="VARCHAR" property="productnumb" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="expctStartTime" jdbcType="TIMESTAMP" property="expctstarttime" />
    <result column="expctEndTime" jdbcType="TIMESTAMP" property="expctendtime" />
    <result column="completedProduce" jdbcType="INTEGER" property="completedproduce" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, orderNumb, productionType, productNumb, createTime, updateTime, status, expctStartTime, 
    expctEndTime, completedProduce, feature
  </sql>
  <select id="selectByExample" parameterType="com.andidz.bizcore.domain.ProductionOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from production_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="start != 0 or pageSize != 0" >
      limit #{start},#{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from production_order
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from production_order
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.andidz.bizcore.domain.ProductionOrderExample">
    delete from production_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    insert into production_order (Id, orderNumb, productionType, 
      productNumb, createTime, updateTime, 
      status, expctStartTime, expctEndTime, 
      completedProduce, feature)
    values (#{id,jdbcType=INTEGER}, #{ordernumb,jdbcType=VARCHAR}, #{productiontype,jdbcType=INTEGER}, 
      #{productnumb,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{expctstarttime,jdbcType=TIMESTAMP}, #{expctendtime,jdbcType=TIMESTAMP}, 
      #{completedproduce,jdbcType=INTEGER}, #{feature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    insert into production_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="ordernumb != null">
        orderNumb,
      </if>
      <if test="productiontype != null">
        productionType,
      </if>
      <if test="productnumb != null">
        productNumb,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="expctstarttime != null">
        expctStartTime,
      </if>
      <if test="expctendtime != null">
        expctEndTime,
      </if>
      <if test="completedproduce != null">
        completedProduce,
      </if>
      <if test="feature != null">
        feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordernumb != null">
        #{ordernumb,jdbcType=VARCHAR},
      </if>
      <if test="productiontype != null">
        #{productiontype,jdbcType=INTEGER},
      </if>
      <if test="productnumb != null">
        #{productnumb,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="expctstarttime != null">
        #{expctstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="expctendtime != null">
        #{expctendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="completedproduce != null">
        #{completedproduce,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.andidz.bizcore.domain.ProductionOrderExample" resultType="java.lang.Integer">
    select count(*) from production_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update production_order
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ordernumb != null">
        orderNumb = #{record.ordernumb,jdbcType=VARCHAR},
      </if>
      <if test="record.productiontype != null">
        productionType = #{record.productiontype,jdbcType=INTEGER},
      </if>
      <if test="record.productnumb != null">
        productNumb = #{record.productnumb,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.expctstarttime != null">
        expctStartTime = #{record.expctstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expctendtime != null">
        expctEndTime = #{record.expctendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completedproduce != null">
        completedProduce = #{record.completedproduce,jdbcType=INTEGER},
      </if>
      <if test="record.feature != null">
        feature = #{record.feature,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update production_order
    set Id = #{record.id,jdbcType=INTEGER},
      orderNumb = #{record.ordernumb,jdbcType=VARCHAR},
      productionType = #{record.productiontype,jdbcType=INTEGER},
      productNumb = #{record.productnumb,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      expctStartTime = #{record.expctstarttime,jdbcType=TIMESTAMP},
      expctEndTime = #{record.expctendtime,jdbcType=TIMESTAMP},
      completedProduce = #{record.completedproduce,jdbcType=INTEGER},
      feature = #{record.feature,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    update production_order
    <set>
      <if test="ordernumb != null">
        orderNumb = #{ordernumb,jdbcType=VARCHAR},
      </if>
      <if test="productiontype != null">
        productionType = #{productiontype,jdbcType=INTEGER},
      </if>
      <if test="productnumb != null">
        productNumb = #{productnumb,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="expctstarttime != null">
        expctStartTime = #{expctstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="expctendtime != null">
        expctEndTime = #{expctendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="completedproduce != null">
        completedProduce = #{completedproduce,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    update production_order
    set orderNumb = #{ordernumb,jdbcType=VARCHAR},
      productionType = #{productiontype,jdbcType=INTEGER},
      productNumb = #{productnumb,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      expctStartTime = #{expctstarttime,jdbcType=TIMESTAMP},
      expctEndTime = #{expctendtime,jdbcType=TIMESTAMP},
      completedProduce = #{completedproduce,jdbcType=INTEGER},
      feature = #{feature,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.andidz.bizcore.domain.ProductionOrder">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="orderNumb" jdbcType="VARCHAR" property="ordernumb" />
    <result column="productionType" jdbcType="INTEGER" property="productiontype" />
    <result column="productNumb" jdbcType="VARCHAR" property="productnumb" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="expctStartTime" jdbcType="TIMESTAMP" property="expctstarttime" />
    <result column="expctEndTime" jdbcType="TIMESTAMP" property="expctendtime" />
    <result column="completedProduce" jdbcType="INTEGER" property="completedproduce" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, orderNumb, productionType, productNumb, createTime, updateTime, status, expctStartTime, 
    expctEndTime, completedProduce, feature
  </sql>
  <select id="selectByExample" parameterType="com.andidz.bizcore.domain.ProductionOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from production_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from production_order
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from production_order
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.andidz.bizcore.domain.ProductionOrderExample">
    delete from production_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    insert into production_order (Id, orderNumb, productionType, 
      productNumb, createTime, updateTime, 
      status, expctStartTime, expctEndTime, 
      completedProduce, feature)
    values (#{id,jdbcType=INTEGER}, #{ordernumb,jdbcType=VARCHAR}, #{productiontype,jdbcType=INTEGER}, 
      #{productnumb,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{expctstarttime,jdbcType=TIMESTAMP}, #{expctendtime,jdbcType=TIMESTAMP}, 
      #{completedproduce,jdbcType=INTEGER}, #{feature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    insert into production_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="ordernumb != null">
        orderNumb,
      </if>
      <if test="productiontype != null">
        productionType,
      </if>
      <if test="productnumb != null">
        productNumb,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="expctstarttime != null">
        expctStartTime,
      </if>
      <if test="expctendtime != null">
        expctEndTime,
      </if>
      <if test="completedproduce != null">
        completedProduce,
      </if>
      <if test="feature != null">
        feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordernumb != null">
        #{ordernumb,jdbcType=VARCHAR},
      </if>
      <if test="productiontype != null">
        #{productiontype,jdbcType=INTEGER},
      </if>
      <if test="productnumb != null">
        #{productnumb,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="expctstarttime != null">
        #{expctstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="expctendtime != null">
        #{expctendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="completedproduce != null">
        #{completedproduce,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.andidz.bizcore.domain.ProductionOrderExample" resultType="java.lang.Integer">
    select count(*) from production_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update production_order
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ordernumb != null">
        orderNumb = #{record.ordernumb,jdbcType=VARCHAR},
      </if>
      <if test="record.productiontype != null">
        productionType = #{record.productiontype,jdbcType=INTEGER},
      </if>
      <if test="record.productnumb != null">
        productNumb = #{record.productnumb,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.expctstarttime != null">
        expctStartTime = #{record.expctstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expctendtime != null">
        expctEndTime = #{record.expctendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completedproduce != null">
        completedProduce = #{record.completedproduce,jdbcType=INTEGER},
      </if>
      <if test="record.feature != null">
        feature = #{record.feature,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update production_order
    set Id = #{record.id,jdbcType=INTEGER},
      orderNumb = #{record.ordernumb,jdbcType=VARCHAR},
      productionType = #{record.productiontype,jdbcType=INTEGER},
      productNumb = #{record.productnumb,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      expctStartTime = #{record.expctstarttime,jdbcType=TIMESTAMP},
      expctEndTime = #{record.expctendtime,jdbcType=TIMESTAMP},
      completedProduce = #{record.completedproduce,jdbcType=INTEGER},
      feature = #{record.feature,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    update production_order
    <set>
      <if test="ordernumb != null">
        orderNumb = #{ordernumb,jdbcType=VARCHAR},
      </if>
      <if test="productiontype != null">
        productionType = #{productiontype,jdbcType=INTEGER},
      </if>
      <if test="productnumb != null">
        productNumb = #{productnumb,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="expctstarttime != null">
        expctStartTime = #{expctstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="expctendtime != null">
        expctEndTime = #{expctendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="completedproduce != null">
        completedProduce = #{completedproduce,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    update production_order
    set orderNumb = #{ordernumb,jdbcType=VARCHAR},
      productionType = #{productiontype,jdbcType=INTEGER},
      productNumb = #{productnumb,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      expctStartTime = #{expctstarttime,jdbcType=TIMESTAMP},
      expctEndTime = #{expctendtime,jdbcType=TIMESTAMP},
      completedProduce = #{completedproduce,jdbcType=INTEGER},
      feature = #{feature,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.andidz.bizcore.domain.ProductionOrder">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="orderNumb" jdbcType="VARCHAR" property="ordernumb" />
    <result column="productionType" jdbcType="INTEGER" property="productiontype" />
    <result column="productNumb" jdbcType="VARCHAR" property="productnumb" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="expctStartTime" jdbcType="TIMESTAMP" property="expctstarttime" />
    <result column="expctEndTime" jdbcType="TIMESTAMP" property="expctendtime" />
    <result column="completedProduce" jdbcType="INTEGER" property="completedproduce" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, orderNumb, productionType, productNumb, createTime, updateTime, status, expctStartTime, 
    expctEndTime, completedProduce, feature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from production_order
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from production_order
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    insert into production_order (Id, orderNumb, productionType, 
      productNumb, createTime, updateTime, 
      status, expctStartTime, expctEndTime, 
      completedProduce, feature)
    values (#{id,jdbcType=INTEGER}, #{ordernumb,jdbcType=VARCHAR}, #{productiontype,jdbcType=INTEGER}, 
      #{productnumb,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{expctstarttime,jdbcType=TIMESTAMP}, #{expctendtime,jdbcType=TIMESTAMP}, 
      #{completedproduce,jdbcType=INTEGER}, #{feature,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    insert into production_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="ordernumb != null">
        orderNumb,
      </if>
      <if test="productiontype != null">
        productionType,
      </if>
      <if test="productnumb != null">
        productNumb,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="expctstarttime != null">
        expctStartTime,
      </if>
      <if test="expctendtime != null">
        expctEndTime,
      </if>
      <if test="completedproduce != null">
        completedProduce,
      </if>
      <if test="feature != null">
        feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordernumb != null">
        #{ordernumb,jdbcType=VARCHAR},
      </if>
      <if test="productiontype != null">
        #{productiontype,jdbcType=INTEGER},
      </if>
      <if test="productnumb != null">
        #{productnumb,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="expctstarttime != null">
        #{expctstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="expctendtime != null">
        #{expctendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="completedproduce != null">
        #{completedproduce,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    update production_order
    <set>
      <if test="ordernumb != null">
        orderNumb = #{ordernumb,jdbcType=VARCHAR},
      </if>
      <if test="productiontype != null">
        productionType = #{productiontype,jdbcType=INTEGER},
      </if>
      <if test="productnumb != null">
        productNumb = #{productnumb,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="expctstarttime != null">
        expctStartTime = #{expctstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="expctendtime != null">
        expctEndTime = #{expctendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="completedproduce != null">
        completedProduce = #{completedproduce,jdbcType=INTEGER},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andidz.bizcore.domain.ProductionOrder">
    update production_order
    set orderNumb = #{ordernumb,jdbcType=VARCHAR},
      productionType = #{productiontype,jdbcType=INTEGER},
      productNumb = #{productnumb,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      expctStartTime = #{expctstarttime,jdbcType=TIMESTAMP},
      expctEndTime = #{expctendtime,jdbcType=TIMESTAMP},
      completedProduce = #{completedproduce,jdbcType=INTEGER},
      feature = #{feature,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>